.easycommerce .easycommerce-multiselect-input {
    width: 100% !important;
    font-family: "Inter", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: var(--color-ec-body) !important;
    border: none !important;
    padding: 0 !important;
    box-shadow: unset !important;
}
.easycommerce .easycommerce-multiselect-input::placeholder {
    color: var(--color-ec-placeholder) !important;
}
.easycommerce .easycommerce-multiselect-input:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
